!!!
%html
	%head 
		%title Here we are for beer
	%body
		#wrapper
			#header
				%h1 IWTA Golf Platform
			
			#content
				=yield
				
			#footer
				%p
					%a{:href => "/"} There's no place like home
