%h2 Add a new course to the database
%form{:name => "NewCourse", :id => "NewCourse", :action => "/newcourse", :method => "post"}
	%fieldset
		%input{:type => "hidden", :name => "id", :value => @id}
		%table
			%thead
				%tr
					%th Parameter
					%th Value
			%tbody
				%tr
					%th ID
					%td= @id
				%tr
					%th Course name
					%td 
						%input{:type => "text", :name => "CourseName", :value => "Enter course"}
	%button GOGOGO!