%h2 Points update matromatron
%form{:name => "UpdatePoints", :id => "UpdatePoints", :action => "/updatop", :method => "post"}
	%fieldset
		%table{:class => "sortable"}
			%thead
				%tr
					%th Name
					%th Current points
					%th Updated points
			%tbody
				- @info.each do |p|
					%tr
						%th= p["PlayerName"]
						%td= p["points201415"]
						%td
							%input{:name => "#{p["id"]}", :value => "#{p["points201415"]}"}
		%button GOGOGO!!!